In [ ]:
#Tuples and Dictionaries and Sets
#tuples are for fixed data
#immutable, cannot add, remove r update the tuple also oredred collection of items
#we use round brackets to create tuple

In [6]:
fruits=('apple', 'banana', 'cherry')
numbers=(1,2,3,4,5)
print(type(fruits))

<class 'tuple'>

In [7]:
fruits=('apple') #if there is one element in the tuple then we have to put comma after that one element to make it a tuple otherwise it will be considered as string
print(type(fruits))

<class 'str'>

In [8]:
fruits=('apple',)
print(type(fruits))

<class 'tuple'>

In [23]:
#concatenation
numbers=(1,2,3)+(3,4,5,6)
print(numbers)
tuples=(2,)*5
print(tuples)

(1, 2, 3, 3, 4, 5, 6)
(2, 2, 2, 2, 2)

In [5]:
#tuple unpacking
new=(10,34,55)
new=x,y,z # or x,y,z=new
print(x)
print(y)
print(z)

10
34
55

In [10]:
#task1
mytuple=(1,'hello', 6, 3.14, 'banana')
mytuple[0]
print('The first element is:', mytuple[0])

The first element is: 1

In [13]:
mytuple=(1,'hello', 6, 3.14, 'banana')
mytuple[-1]
print('The first element is:', mytuple[-1])

The first element is: banana

In [17]:
#task2
mytuple=(1,2,3,4,5,6,7,8,9)
print(mytuple[1::2])

(2, 4, 6, 8)

In [22]:
#Dictionaries stores key-value pair(mutable)
#uses curly brackers
student={'name':laiba', 'age':25}
print(student)
print(student['age'])
student['grade']='A'
student['class']= '12'
print(student)
print(student.keys())
print(student.values())
print(student.items())
del student['grade']
print(student)

{'name': 'laiba', 'age': 25}
25
{'name': 'laiba', 'age': 25, 'grade': 'A', 'class': '12'}
dict_keys(['name', 'age', 'grade', 'class'])
dict_values(['laiba', 25, 'A', '12'])
dict_items([('name', 'laiba'), ('age', 25), ('grade', 'A'), ('class', '12')])
{'name': 'laiba', 'age': 25, 'class': '12'}

In [12]:
#dictionary task#1
students = {"Alice": 85, "Bob": 78, "Charlie": 92}
# Add a new student
students["David"] = 88

# Update a score
students["Alice"] = 90

# Find student with the highest score
top_student = max(students, key=students.get)

print("Updated Dictionary:", students)
print("Top Student:", top_student, "Score:", students[top_student])

Updated Dictionary: {'Alice': 90, 'Bob': 78, 'Charlie': 92, 'David': 88}
Top Student: Charlie Score: 92

In [10]:
#Sets
#Sets store unique, unordered collections of items., donot allow duplicates, vcan have multipe datatypes
#we use curly brackets for sets too
numbers={1,2,3,4,6,7,6,6,6}
print(numbers)
numbers.add(9)
numbers.remove(1)
numbers.pop()
print(numbers)
A={1,2,3}
B={3,4,5}
print(A|B)
print(A&B)
print(A-B)
set1={'abc', 24,True, 40}
print(set1)
set1={'a', 'b','c'}
set2={1,2,3}
set3=set1.union(set2) #using union function
print(set3) 
#or
print(set1 |set2)
x={'a', 'b', 'c'}
y=(6,7,8,9)
z=x.union(y)
print(z)

{1, 2, 3, 4, 6, 7}
{3, 4, 6, 7, 9}
{1, 2, 3, 4, 5}
{3}
{1, 2}
{24, True, 40, 'abc'}
{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3, 'c', 'b', 'a'}
{6, 7, 8, 9, 'b', 'a', 'c'}

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{1, 2, 3, 'c', 'b', 'a'}
{'banana', 'cherry'}

In [17]:
#task1
set1={1,2,3,4}
set2={3,4,5,6}
z=set1 & set2
#z=set1.intersection(set2)
print(z)
z=set1-set2
#z=set1.difference(set2)
print(z)
z=set1 | set2
print(z)

{3, 4}
{1, 2}
{1, 2, 3, 4, 5, 6}

In [27]:
#control flow
#else elif else statements
age=20
if age<15:
    print('minor')
elif age==18:
    print('exact 18')
else:
    print('adult')

adult

In [37]:
#nested if else
age=21
if age>=18:
    
    if age>=21:
        print('exact 21')
    else:
        print('adult under 21')
else:
    print('minor')

exact 21

In [33]:
#loops
#for loop, used to iterate over a sequence such as lists, tuples,strings and execute a block of code for each item
numbers=[1,2,34,5,44,66,55,12,35]
for x in numbers:
    print(x)
fruits=['apple','banana','cherry', 'kiwi']
for index , fruit in enumerate(fruits):
    print(index, fruit)

1
2
34
5
44
66
55
12
35
0 apple
1 banana
2 cherry
3 kiwi

In [28]:
#while loop
#a while loop is used to execute a block of code repeatedly as long as a certain condition is true
#repeated tasks, unlike for loop while loops are used when no of iterations are not known
i=0
while  i<5:
    print(i)
    i+=1

0
1
2
3
4

In [42]:
#break: Exit loop immediately
for num in range (5) :
    if num == 3:
      break
    print (num)
#continue: Skip current iteration
for num in range (5) :
    if num == 3:
      continue
    print (num)

0
1
2
0
1
2
4

In [35]:
#task
grade=int(input('enter the grade'))
if grade>=80:
  print('A')
elif grade>=70:
  print('B')
elif grade>=60:
  print('C')
else:
  print('F')

enter the grade 63

C

In [55]:
#task2
N=int(input('enter a number:'))
for i in range(1,N+1):
    print(i)

enter a number: 5

1
2
3
4
5

In [52]:
#pass: Placeholder, does nothing
if True:
    pass

In [1]:
#concise method for creating lists
numbers=[x**2 for x in range(5)]
print(numbers)

[0, 1, 4, 9, 16]

In [4]:
numbers=[x for x in range(10) if x%2==0]
print(numbers)

[0, 2, 4, 6, 8]

In [5]:
#nested loop simplified here
numbers=[(x,y) for x in range(3) for y in 'ab']
print(numbers)

[(0, 'a'), (0, 'b'), (1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]

In [6]:
#Matrix creation using nested comprehension:
numbers= [[x*y for x in range(3)] for y in range(3)]
print(numbers)

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

In [7]:
#Set and Dictionary Comprehensions
#Set comprehension:
myset={x**2 for x in range(10)}
print(myset)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [9]:
#Dictionary comprehension:
mydict={x:x**2 for x in range(10)}
print(mydict)
#Conditional dictionary comprehension:
mydict={x:x**2 for x in range(10) if x%2==0}
print(mydict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [13]:
# Practical Example: Comprehensions
scores=[34,55,67,23,75,85]
passed=[score for score in scores if score<=55]
print(passed)
grades={score: ('pass' if score>=55 else 'fail') for score in scores}
print(grades)

[34, 55, 23]
{34: 'fail', 55: 'pass', 67: 'pass', 23: 'fail', 75: 'pass', 85: 'pass'}

In [14]:
#Iterator basics:
fruits = [" apple ", " banana "]
fruit_iter = iter ( fruits )
print ( next ( fruit_iter )) # apple
print ( next ( fruit_iter ))
#

 apple
 banana

In [20]:
student = {" name ": " Alice ", "age ": 24}
for key , value in student. items () :
   print (f"{key }:␣{ value }")

 name :␣ Alice
age :␣24

In [ ]:
#Practical Control Flow Example
scores=[23,55,78,90,35,66,75,95]
passed=[score for score in scores if score>=55]
print(passed)
for score in passed:
    if score>66:
        print(f'execellent score: {score}')
    else :
        print(f'good score: {score}')

In [ ]:
#while
i=0
while i<=10:
    print(i)
    i+=2 #will print even numbers
#break Statement
#With the break statement we can stop the loop even if the while condition is true:"""
i=1
while i<=5:
    print(i)
    if i==3:
      break
    i+=1
i=0
while i<=5:
    i+=1
    if i==3:
      break
    print(i)

In [3]:
#continue
i=0
while i<=5:
    i+=1
    if i==3:
      continue
    print(i)

1
2
4
5
6

In [1]:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [6]:
#nested loop
'''The outer loop (for i in range(3)) runs 3 times, with i taking values 0, 1, and 2.
For each iteration of i, the inner loop (for j in range(2)) runs 2 times, with j taking values 0 and 1.
Inside the inner loop, the print() function displays the current values of i and j.'''
for i in range(3):
    for j in  range(2):
      print(f'i={i} , j={j}')

i=0 , j=0
i=0 , j=1
i=1 , j=0
i=1 , j=1
i=2 , j=0
i=2 , j=1

In [8]:
for x in 'apple':
 print(x)

a
p
p
l
e

In [11]:
x=['apple', 'banana','cherry']
for i in x:
    print(i)
    if i=='banana':
     break

apple
banana

In [13]:
x=['apple','mango','kiwi', 'banana','cherry']
for i in x:
    if i=='banana':
     continue
    print(i)

apple
mango
kiwi
cherry

In [14]:
num=[1,3,5,6]
fruits=['apple','banana','cherry','kiwi']
for x in num:
    for y in fruits:
        print(f'{x}, {y}')

1, apple
1, banana
1, cherry
1, kiwi
3, apple
3, banana
3, cherry
3, kiwi
5, apple
5, banana
5, cherry
5, kiwi
6, apple
6, banana
6, cherry
6, kiwi

In [19]:
#shorter way to create list
num=[x for x in range(10) if x % 2!=0] #printing odd numbers
print(num)
num=[x for x in range(10) if x % 2==0] #printing odd numbers
print(num)

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [20]:
"""Iterators and Iterables
Iterable → Any object that can be looped over (list, tuple, set).
Iterator → An object that produces values one at a time using next().
"""
my_list = [10, 20, 30]
iterator = iter(my_list)

print(next(iterator))
print(next(iterator))
print(next(iterator))

10
20
30

In [24]:
#task1
num=int(input('enter a number N'))
for i in range(1,num+1):
     print(i)

enter a number N 6

1
2
3
4
5
6

In [26]:
#task2
num=int(input('enter a number'))
for i in range(1,10):
    print(f'{num}x{i}={num*i}')

enter a number 2

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18

In [2]:
#task3
num=int(input('enter a number'))
sum=0
while num>0:
    sum+= num % 10
    num //= 10

print(f'sum  of numbers:{sum}')

enter a number 5

sum  of numbers:5

In [ ]:
#task4
import random
random_int=random.randint(1,100)
while True:
    guess=int(input('enter a number'))
    if guess<random_int:
        print('less than random no')
    elif guess>random_int:
        print('more than random number')
    else:
        print('exact number!congo')

enter a number 67

less than random no

enter a number 67

less than random no

enter a number 100

more than random number

enter a number 35

less than random no

enter a number 89

less than random no